[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
	ignore = untracked
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
	ignore = untracked
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "bundle/vim-scmdiff"]
	path = bundle/vim-scmdiff
	url = https://github.com/ghewgill/vim-scmdiff.git
	ignore = untracked
